<!DOCTYPE html>
<html ng-app="personApp">

<meta charset="utf-8">
<base href="/">
<title>BitProfi test task</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><link>
<link rel="stylesheet" href="style.css"><link>

<body role="application" ng-controller="personCtrl">

<header>
	<h3 class="bp-left">Persons</h3>
	<button class="btn btn-primary bp-right" ng-click="edit()">Add person</button>
</header>
<table class="table table-striped">
	<tr>
		<th>#
		<th>ID
		<th>First name
		<th>Last name
		<th colspan="2">Comment
	<tr ng-repeat="person in persons">
		<td ng-bind="$index + 1">
		<td ng-bind="person.id">
		<td ng-bind="person.firstName">
		<td ng-bind="person.lastName">
		<td class="bp-comment" ng-bind="person.comment">
		<td>
			<i class="fa fa-pencil-square-o fa-lg bp-action" title="Edit" ng-click="edit(person)"></i>
			<i class="fa fa-trash fa-lg bp-action" title="Remove" ng-click="remove(person)"></i>
</table>

<div id="personEditor" class="modal fade" role="dialog" aria-labelledby="editorTitle" aria-hidden="true">
	<div class="modal-dialog">
		<form name="personForm" class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title" id="editorTitle">{{person.id ? 'Edit' : 'Add'}} person</h4>
			</div>
			<div class="modal-body">
				<bp-form-field bp-model="person.firstName" bp-named>First name</bp-form-field>
				<bp-form-field bp-model="person.lastName" bp-named>Last name</bp-form-field>
				<bp-form-field type="textarea" bp-model="person.comment">Comment</bp-form-field>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" ng-disabled="personForm.$invalid" ng-click="submit()">
					{{person.id ? 'Save' : 'Add'}}
				</button>
			</div>
		</form>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-mocks.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<script src="server.js"></script>
