.bp-left {
	float: left;
}

.bp-right {
	float: right;
}

header>* {
	margin: 10px !important;
}

th, td {
	white-space: nowrap;
}

td.bp-comment {
	white-space: normal;
	width: 100%;
}

.bp-action {
	cursor: pointer;
	opacity: .33;
	visibility: hidden;
}

.bp-action:hover {
	opacity: 1;
}

tr:hover .bp-action {
	visibility: visible;
}

.bp-required:after {
	color: red;
	content: " *";
}

input:invalid {
	border-color: red;
}
